{% if PayJpOrder is defined %}
<script type="text/javascript">
    const formatter = new Intl.NumberFormat('ja-JP', {
        style: 'currency',
        currency: 'jpy',
        minimumFractionDigits: 0
    });
    function post_to_url(path, params) {
        method = "post";

        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
    function isNumeric(value) {
        return /^-{0,1}\d+$/.test(value);
    }
    function refundConfirmDialog(){
        var refund_option_val=$("#refund_option").val();
        var refund_amount_val=$("#refund_amount").val();
        if(refund_option_val==3 && !isNumeric(refund_amount_val)){
            alert('{{ 'pay_jp.admin.order.refund_amount.error.invalid'|trans }}');
            $("#refund_amount").focus();
            return false;
        } else if(refund_option_val==3 && refund_amount_val>{{ Order.payment_total }}){
            alert('{{ 'pay_jp.admin.order.refund_amount.error.exceeded'|trans }}');
            $("#refund_amount").focus();
            return false;
        } else if(refund_option_val==3 && refund_amount_val <= 0) {
            alert('{{ 'pay_jp.admin.order.refund_amount.error.exceeded'|trans }}');
            $("#refund_amount").focus();
            return false;
        }
        var amount_to_display=formatter.format(refund_amount_val);
        if(refund_option_val==2) {
            amount_to_display ='{{ (Order.getPaymentTotal-(Order.getPaymentTotal * (PayJpConfig.payjp_fees_percent/100)))|round(0, 'floor')|price }}';
        }
        if(refund_option_val==1) {
            amount_to_display ='{{ Order.getPaymentTotal|round(0, 'floor')|price }}';
        }

        if(confirm(amount_to_display+'{{ 'pay_jp.admin.order.refund_action_confirm'|trans }}')){
            post_to_url('{{ url('pay_jp_admin_order_refund', { id : Order.id }) }}', {refund_option: refund_option_val, refund_amount: refund_amount_val});
        } else {
            return false;
        }
    }
    $(function () {
        $(".c-primaryCol div:first").after($('#payjp-details'));
        $("#refund_option").on("change",function(){
            if($(this).val()==3){
                $("#refund_amount_contained").slideDown();
            } else {
                $("#refund_amount_contained").slideUp();
            }
        });
    });
</script>
<style type="text/css">.ml-n-15 {margin-left: -15px;}</style>
<div style="display: none;">
    <div id="payjp-details" class="card rounded border-0 mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-8">
                    <div class="d-inline-block" data-tooltip="true" data-placement="top" title="" data-original-title="{{ 'pay_jp.admin.order.section_title_tooltip'|trans }}">
                        <span class="card-title">{{ 'pay_jp.admin.order.section_title'|trans }}</span>
                        <i class="fa fa-question-circle fa-lg ml-1"></i>
                    </div>
                </div>
                <div class="col-4 text-right">
                    <a data-toggle="collapse" href="#payJpPaymentOverview" aria-expanded="false" aria-controls="payJpPaymentOverview">
                        <i class="fa fa-angle-up fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="collapse show ec-cardCollapse" id="payJpPaymentOverview">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="row mb-3">
                            <div class="col-3" data-tooltip="true" data-placement="top" title="" data-original-title="{{ 'pay_jp.admin.order.charge_id_tooltip'|trans}}">{{ 'pay_jp.admin.order.charge_id'|trans}}<i class="fa fa-question-circle fa-lg ml-1"></i></div>
                            {% if PayJpOrder.getIsChargeCaptured==false %}
                            
                            {% else %}
                                <div class="col"> <a class="payJpChargeID" href="{{ PayJpChargeDashboardLink~PayJpOrder.getPayJpChargeId }}" target="_blank">{{ PayJpOrder.getPayJpChargeId }}</a></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mb-3">
                            <div class="col-3">{{ 'admin.order.payment_total'|trans }}</div>
                            <div class="col">
                                {{ Order.payment_total|price }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="row mb-3">
                            <div class="col-3">{{ 'pay_jp.admin.order.actions'|trans }}</div>
                            <div class="col row ml-0">
                                {% if PayJpOrder.getIsChargeCaptured==false %}
                                    <a href="{{ url('pay_jp_admin_order_capture', { id : Order.id }) }}"  class="btn btn-ec-regular payjp_txn_action_btn" onclick="return confirm('{{ 'pay_jp.admin.order.capture_action_confirm'|trans({'%charge_amount%':Order.getPaymentTotal|price })}}');">{{ 'pay_jp.admin.order.capture_action'|trans }}</a>
                                {% elseif PayJpOrder.getPayJpChargeId!='' and PayJpOrder.getIsChargeRefunded==false %}
                                    <div class="col-6 ml-n-15">
                                        <select id="refund_option" class="form-control">
                                            <option value="1">{{ 'pay_jp.admin.order.refund_option.full_refund'|trans }}</option>
                                            {% if PayJpConfig.payjp_fees_percent>0 %}
                                            <option value="2">{{ 'pay_jp.admin.order.refund_option.minus_fee'|trans }}</option>
                                            {% endif %}
                                            <option value="3">{{ 'pay_jp.admin.order.refund_option.partial_refund'|trans }}</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <div id="refund_amount_contained" style="display: none;">
                                            <input type="text" id="refund_amount" placeholder="払い戻し額" class="form-control" />
                                            <br/>
                                        </div>
                                        <a id="refund_btn" href="javascript:void(0);"  class="btn btn-ec-regular payjp_txn_action_btn" onclick="refundConfirmDialog();">{{ 'pay_jp.admin.order.refund_action'|trans }}</a>
                                    </div>
                                {% elseif PayJpOrder.getIsChargeRefunded %}
                                    <span style="background-color: #fff; color: #C04949; border-color: #C04949">{{ 'pay_jp.admin.order.status.refunded'|trans }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if PayJpOrder.getIsChargeRefunded and PayJpOrder.getRefundedAmount>0 %}
                    <div class="col-6">
                    
                        <div class="row mb-3">
                            <div class="col-3">{{ 'pay_jp.admin.order.refunded_amount'|trans }}</div>
                            <div class="col">{{ PayJpOrder.getRefundedAmount|price }}</div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
